html {
    user-select: none;
    -webkit-user-drag: none;
}

.spa-content {
    padding-top: 15pt;
}

.background-img {
    filter: blur(3px);
    z-index: -1;
    background-position: center;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

#mcFace {
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 25px;
}

.no-select {
    user-select: none !important;
}

a {
    -webkit-user-drag: none;
}

#userId {
    user-select: text !important;
}
